
.features-icons {
  @media (min-width: $screen-sm-min) {
    padding-top: 1rem;
    padding-bottom: 3rem;
  }

  h3 {
    font-size: 1.7rem;
    @media (min-width: $screen-sm-min) {
       font-size: 1.7rem;
    }
  }
  p.lead {
    font-size: 1.2rem;
    line-height: auto;
    @media (min-width: $screen-sm-min) {
       font-size: 1.3rem;
       line-height: 1.8rem;;
    }
  }
  .features-icons-item {
    text-align: center;
    h3 {
      margin-top: 1rem;  
    }
    .features-icons-icon {
      margin-top: 4rem;
      margin-bottom: 0rem;
      @media (min-width: $screen-sm-min) {
        height: 4rem;
      }
      i {
        font-size: 3rem;
        @media (min-width: $screen-sm-min) {
          font-size: 3.5rem;
          margin-top: -1rem;
        }
      }
    }
    &:hover {
      cursor: pointer;
      .features-icons-icon {
        i {
          color: green;
          font-size: 3rem;
          @media (min-width: $screen-sm-min) {
            font-size: 4.5rem;
          }
        }
      }

      .fact-spinner {
        -webkit-animation: mi-spin 4s infinite linear;
        animation: mi-spin 4s infinite linear;
      }
    }
  }
}

.hero-home  {

  .hero-subheader__title {
    font-size: 3rem;
    margin-top: 0;
  }

  .hero-subheader__desc {
    margin-bottom: 1.875rem;
  }

  .hero-subheader__sub_title {
    margin-bottom: 1.875rem;
  }

  .hero-subheader__desc, 
  .hero-subheader__sub_title {
    font-size: 1.6rem;
    line-height: 1.7;
  }

  .hero-subheader__author {
    border-left: 2px solid;
    padding-left: 2.5rem;

    .btn {
      margin-bottom: 0;
    }
  }

  .btn {
    font-size: 1.5rem;
    line-height: 1.8rem;

    .icon {
      font-size: 1.5rem;
      line-height: 1.8rem;
    }
  }

 
}

.hero-subheader--before-out {
  @media (min-width: $screen-sm-min) {
    padding: 4rem 0 (6rem - 1.25rem) 0;
  }
}


.author {
  .align-container {
    padding-top: 2.4rem;
    font-size: 1.4rem;
  }
  .hero-subheader__author-title {
     font-size: 2rem;
     &:hover {
        text-decoration: underline;
     }
  }
}

div.section {
 
  @media (min-width: $screen-sm-min) {
    padding-top: 3rem;
    padding-bottom: 4rem;
  }

}

div.live_navigation {
  @media (min-width: $screen-sm-min) {
    padding-bottom: 1rem;
  }
  background-color: #fff;
  .nav-grid__content {
    background-color: lighten(#fffacf, 5%);
    &:hover {
      background-color: #fffacf;
      cursor: pointer;
    }
  }

}



